<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Luv2Code Company Home Page</title>
</head>
<body>
    <h2>luv2code Company Home Page -- 2</h2>
    <hr>
    Welcome to Luv2Code Company Home Page!
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <div sec:authorize="hasRole('MANAGER')">
        <hr>
        <p><a th:href="@{/leaders}">Leadership Meeting</a>(Only for for Manager peeps)</p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <hr>
        <p><a th:href="@{/admins}">IT System Meeting</a>(Only for for Admin peeps)</p>
    </div>

    <hr>
    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>