<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        <input type="text" th:field="*{firstName}" placeholder="What's your name?" required>

        <br><br>

        <input type="text" th:field="*{lastName}" id="lastname" name="lastname" placeholder="What's your last name?" required>

        <br><br>

        Country:
        <select th:field="*{country}" required>
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
        <br><br>

        Favorite  Language:
        <input type="radio" th:each="lang : ${codingLanguages}" th:field="*{favoriteLanguage}" th:value="${lang}" th:text="${lang}">


        <br><br>

        Favorite OS:
        <input type="checkbox" th:each="sys : ${operatingSystems}" th:value="${sys}" th:field="*{favoriteOs}" th:text="${sys}">

        <br><br>

        <button type="submit">Submit</button>

    </form>
</body>
</html>